@font-face{
  font-family: 'Orgon';
  src: url(./../fonts/Orgon-Regular.woff) format('woff'),
       url(./../fonts/Orgon-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
};

@font-face{
  font-family: 'Orgon';
  src: url(./../fonts/Orgon-Medium.woff) format('woff'),
       url(./../fonts/Orgon-Medium.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
};
