html{
  font-family: 'Gilroy', sans-serif;
  font-weight: 200;
  font-size: #{$BaseRemSize}px;
  line-height: 120%;
  color: $Black;
  background: $Black;
}

html, body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: 120%;
  font-weight: 700;
}

h1{
  @include bs-font-size(62);
}

h2{
  @include bs-font-size(44);
}

h3{
  @include bs-font-size(36);
}

h4{
  @include bs-font-size(26);
}

h5, h6{
  @include bs-font-size(20);
}

p{
  margin: 0;
  padding: 0;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-out;
  &:hover{
    transform: scale(1.03);
  }
  &:active{
    transform: scale(0.96);
  }
}

img, canvas{
  display: block;
}

canvas#babylon{
  max-width: 100%;
  max-height: 100%;
  &:focus{
    outline: none;
  }
}

.buttons{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#video, #faceDetectionCanvas{
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  pointer-events: none;
  // visibility: hidden;
  opacity: 0.7;
  transform: translate(-50%, -20%) scaleY(0.5) scaleX(-0.5);
}

button{
  background: rgba(1,1,1,0.5);
  border: 2px white solid;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  background: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0));
  background-position-x: -200px;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0);
  transition: background-position 0.7s ease-out, background-color 0.7s ease-out;
  margin: 0 10px;
  padding-top: 11px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    background-position-x: 200px;
    background-color: rgba(255,255,255,0.2);
  }
  &.active{
    background-color: rgba(255,255,255,0.8);
    color: black;
  }
}

#gyroscope, #cameraButton{
  display: none;
}

#loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  border-left: solid 0.5vw White;
  border-right: solid 0.5vw White;
  animation: ROTATE_LOADER 1s infinite linear;
  transform-origin: top left;

  &:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 60%;
    height: 60%;
    border-left: solid 0.3vw White;
    border-right: solid 0.3vw White;
    border-radius: 50%;
  }

  @keyframes ROTATE_LOADER{
    0%{
      transform: rotate(0deg) translate(-50%, -50%);
    }
    100%{
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }

}

.desktop_only{
  display: block;
}

.mobile_only{
  display: none;
}


@media #{$BreakpointS}{

  #loader{
    width: 25vw;
    height: 25vw;
    border-left-width: 1.5vw;
    border-right-width: 1.5vw;
    &:after{
      border-left-width: 1.2vw;
      border-right-width: 1.2vw;
    }
  }

  .mobile_only{
    display: block;
  }

  .desktop_only{
    display: none;
  }
}
